<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
        <link href = "careers.css" rel = "stylesheet" type ="text/css">
        <title>Vocational test - Careers</title>
    </head>

    <body>
        <form class='form' action = '/careers' method = 'POST'>
            <label for= 'nombre carrera'>Enter career</label>
            <br/>
            <div class= 'input'>
                <input class='text' type = 'text' name = 'name' placeholder = 'Enter your career'>
                <input class='button' type = 'submit' value = 'Next'>
            </div>    
            </form>
        <div class='careerslist'>    
            <ul>
                <% @careers.map do |career| %>
                <li>
                    <a href = "careers/<%=career.id%>"> <%=career.name%> </a>
                    <p>
                        Total of surveys: <%= career.surveys.count.to_s %>
                    </p>
                </li>
                <% end %>
            </ul>
        </div>
    </body>
</html>