<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
        <link href = "careers.css" rel = "stylesheet" type ="text/css">
        <title>Test vocacional - Careeras</title>
    </head>

    <body>
        <header id="header">
            <a href="/Main" title="Ir a página inicial" style="text-decoration:none">Menu principal</a>
        </header>
        
        <div class='careerslist'>    
            <ul>
                <% @careers.each do |career| %>
                <li>   
                    <form action="/career" method="GET">
                        <input type="hidden" name="career_name" value="<%=career.name%>">
                        <button><%=career.name%></button>
                    </form>
                </li>
                <% end %>
            </ul>
        </div>
    </body>
</html>