<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/d1b528746c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href = "query.css" rel = "stylesheet" type ="text/css">
        <title>Test vocacional - Consulta</title>
    </head>
    <body>
        <div class="navegador">
            <ul>
                <li><a href="Main" style="text-decoration:none"><i class="fas fa-home"></i> Menu principal</a></li>
                <li><a href="careers" style="text-decoration:none"><i class="fas fa-clipboard-list"></i>  Menu carreras</a></li>
            </ul>
        </div>
        <div class="eleccion_carrera">
             <form class="eleccion_carrera" action="career-query" method="GET">
                <label for="carrera"><p>Carrera a consultar:</p></label><br>
                <input placeholder="Elige la carrera a consultar" list="carreras" name="carrera" id="carrera" autocomplete="off" >
                <datalist id="carreras">
                    <%@careers.each do |career|%>
                    <option value= <%=career.name%>></option>
                    <%end%>
                </datalist>
                <p>Desde:</p>
                <input type="date" id="start-date" name="start-date"
                    value="2021-01-01"
                    min="2021-01-01" max="2021-12-31">
                <p>Hasta:</p>
                <input type="date" id="finish-date" name="finish-date"
                    value="2021-12-31"
                    min="2021-01-01" max="2021-12-31>">
                <ul>
                <input class="botones" type="submit" value="Consultar">
                </ul>
            </form>
        </div>
    </body>
    <footer>
                <img src="images/logoUNRC.ico">

                <div class="rights"><h4>Test vocacional office, Avenida Siempreviva 742, Springfield, Estados Unidos. </h4>

                <p>&copy Copyright 2021 test vocacional | Todos los derechos reservados. </p> </div>

                <h3>Contactos:</h3>
                    <h5><ul>
                            <li> 
                            Nicolas Ortiz:  nicortiz1234@gmail.com
                            </li>
                            <li>  
                            Joaquin Moran:  joacomoran6@gmail.com
                            </li>
                            <li>  
                            Agustin Giungi: agustingiungi98@gmail.com
                            </li>
                        </ul> 
                    </h5>                                    
        </footer>

</html>