<head>
    <link href = "error.css" rel = "stylesheet" type ="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">Movimos esta pagina? La borramos? Esta en cuarentena por  Covid-19? O quizas nunca existio?<p>Como sea, volvamos a <a href="/Main">prinicipio</a> y empecemos de nuevo.</p></div>
    </div>