<!DOCTYPE html>
<html>
    <head>      
        <link href = "finish.css" rel = "stylesheet" type ="text/css">
        <title>Resultado Test</title>
    </head>

    <body>
        <header id="header">
            <a href="/Main" title="Ir a página inicial" style="text-decoration:none"><h1>Vocational Test</h1></a>
        </header>
        <div id="result">
            <h1>Carrera Obtenida</h1>
            <td>
                <label>Careera: <%=@career%></label>
                <li><label>Puntos: <%=@pointsTotal%></label></li>
            </td>
        </div>
        <br/>
    </body>
</html>