<!DOCTYPE html>
<html>
    <div>
        <title> Vocational test - Users </title>
    </div>

    <body>
        <h1>Users</h1>
         <div>
            <p>
                N° of users: <%=@surveys.count %>
            </p>
            <ul>
                <% @surveys.map do |survey| %>
                <li> <%=survey.username%> </li>
                <br></br>
                <% end %>
            </ul> 
         </div>
    </body>
</html>