<!DOCTYPE html>

<html>
    <head>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
      <link href = "landing.css" rel = "stylesheet" type ="text/css">
        <title>
            Test Vocacional 2021
        </title>
    </head>
    <body>
      <h1>
        ¡Bienvenido!
      </h1>
        <div class='list'>
          <h2>          
              <a class='careers' href="/careers" style="text-decoration: none">Carreras disponibles</a>
          </h2>
          <h2>
              <a class='vt' href="/vocational_test" style="text-decoration: none">Iniciar test vocacional</a>
          </h2>
        </div>
    </body>
</html>