<!DOCTYPE html>

<html>
    <head>
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
      <link href = "landing.css" rel = "stylesheet" type ="text/css">
        <title>
            Vocational Test 2021
        </title>
    </head>
    <body>
      <h1>
        Welcome!
      </h1>
        <div class='list'>
          <h2>          
              <a class='careers' href="http://localhost:9292/careers" style="text-decoration: none">Carrers</a>
          </h2>
          <h2>
              <a class='vt' href="http://localhost:9292/vocational-test" style="text-decoration: none">Vocational Test</a>
          </h2>
          <h2>
              <a class='users' href="http://localhost:9292/surveys" style="text-decoration: none">Users</a>
          </h2>
        </div>
    </body>
</html>
