<!DOCTYPE html>

<html>
    <head>
      <title>
         Vocational Test 2021
       </title>
    </head>
    <body>
      <h1>
        Welcome!
      </h1>
        <div>
          <h2>           
              <a href="http://localhost:9292/careers" style="text-decoration: none">· Carrers</a>
          </h2>
          <h2>
              <a href="http://localhost:9292/vocational-test" style="text-decoration: none">· Vocational Test</a>
          </h2>
          <h2>
            <a href="http://localhost:9292/surveys" style="text-decoration: none">· Users</a>
          </h2>
        </div>
    </body>
</html>
