<!DOCTYPE html>
<html>
    <head>
        <title>Resultado Test</title>
    </head>

    <body>
        <h1>Carrera Obtenida</h1>
        <td>
            <label>Careera: <%=@career%></label>
            <li><label>Puntos: <%=@puntos_career%></label></li>
        </td>
        <br/>
    </body>
</html>