<!DOCTYPE html>
    <html>
        <head>
            <script src="https://kit.fontawesome.com/d1b528746c.js" crossorigin="anonymous"></script>
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <link href = "careers.css" rel = "stylesheet" type ="text/css">
            <title>Test vocacional - Consulta</title>
        </head>
        <body>
            la cantidad de encuestas que dieron como resultado la carrera "@career" entre "@ini_date" y "@fin_date" fueron "@count"
        </body>
        <footer>
                <img src="images/logoUNRC.ico">

                <div class="rights"><h4>Test vocacional office, Avenida Siempreviva 742, Springfield, Estados Unidos. </h4>

                <p>&copy Copyright 2021 test vocacional | Todos los derechos reservados. </p> </div>

                <h3>Contactos:</h3>
                    <h5><ul>
                            <li> 
                            Nicolas Ortiz:  nicortiz1234@gmail.com
                            </li>
                            <li>  
                            Joaquin Moran:  joacomoran6@gmail.com
                            </li>
                            <li>  
                            Agustin Giungi: agustingiungi98@gmail.com
                            </li>
                        </ul> 
                    </h5>                                    
        </footer>

</html>