<!DOCTYPE html>
<html>
    <div>
        <title> Vocational test </title>
    </div>
        <body>
        <h1>Vocational Test</h1>
        
        <form action = '/surveys' method = 'POST'>
            <label for= 'name'>Enter your username</label>
            <br/>
            <input type = 'text' name = 'name' placeholder = 'username'>
            <input type = 'submit' value = 'Next'>
        </form>
        </body>
</html>