<!DOCTYPE html>
<html>
    <head>
        <title> Vocational test </title>
        <script src="https://kit.fontawesome.com/d1b528746c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
        <link href = "username.css" rel = "stylesheet" type ="text/css">    
    </head>

     
        <body>
        <div class="navegador">
            <ul>
                <li><a href="Main" style="text-decoration:none"><i class="fas fa-home"></i> Menu principal</a></li>
                <li><a href="careers" style="text-decoration:none"><i class="fas fa-clipboard-list"></i>  Menu carreras</a></li>
            </ul>
        </div>

        <h1>Test vocacional</h1>

        
        
        <form class = button action = '/surveys' method = 'POST'>
            <label for= 'name'>Ingrese su nombre de usuario</label>
            <br/>
            <input type = 'text' name = 'name' placeholder = 'nombre de usuario' required>
            <a><input type = 'submit' value = 'Siguiente'/></a>
        </form>
        <footer>
                
                <div><h4>Test vocacional office, Avenida Siempreviva 742, Springfield, Estados Unidos. </h4>

                <p>&copy Copyright 2021 test vocacional | Todos los derechos reservados. </p> </div>
        </footer>
        </body>
</html>