<!DOCTYPE html>
<html>
    <head>
        <title> Vocational test </title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
        <link href = "username.css" rel = "stylesheet" type ="text/css">
    </head>

    
        <body>
        <header id="header">
            <a href="/Main" title="Ir a página inicial" style="text-decoration:none">Menu principal</a>
        </header>

        <h1>Test vocacional</h1>

        
        
        <form action = '/surveys' method = 'POST'>
            <label for= 'name'>Ingrese su nombre de usuario</label>
            <br/>
            <input type = 'text' name = 'name' placeholder = 'nombre de usuario' required>
            <input type = 'submit' value = 'Siguiente'>
        </form>
        </body>
</html>