body{
    margin: 0;
    padding: 0;
    background-image: url(images/fondo.jpg);
}

#header{
    position: center;
    top: 0;
    width: 100%;
    text-align: center;
    background-image: url(images/signo.jpg);
    background-position: center;
    background-size: 100%;
}

#header a{
    font-size: 40px;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    color: rgb(70, 55, 29);
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
}

.info p {
    margin-top: 70px;
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
}

.navegador ul{
    color: white;
    text-align:center;
 } 

 .navegador ul li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 } 

 .navegador li a {
    border-radius: 20px;
    margin: 40px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 2px 7px 2px 7px;
    color: rgb(4, 4, 4);
    background-color:rgb(240, 204, 131);
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
 } 

 .navegador li a:hover{
        border-color: rgb(70, 55, 29);
        background-color:rgb(255, 255, 255);
        color:rgb(70, 55, 29);
 }

 footer {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    position:relative;
    padding-top: 16px;
    left: 0;
    bottom: 0;
    width: 100%;
    height:100px;
    background-color: #000000;
 }

 footer h4{
    font-size: 15px;
}

 footer p{
     font-size: 10px;
 }