body{
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(images/fondo.jpg);
}

.careerslist{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.careerslist ul li {
    color: rgb(255, 255, 255);
    list-style: none;
    text-decoration: none;
    padding: 20px;
}

.careerslist ul li a {
    color: rgb(2, 2, 2);
    text-decoration: none;
}


.form{
    font-size: 30px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.input{
    font-family: 'Quicksand', sans-serif;
    position: relative;
    left: 30px;
}

.text{
    font-family: 'Quicksand', sans-serif;
    width: 300px;
}

.button{

    font-family: 'Quicksand', sans-serif;
}

#header{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-image: url(images/signo.jpg);
    background-position: center;
    background-size: 100%;
}

#header a{
    font-size: 60px;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    color: rgb(70, 55, 29);
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
}