body{
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: url(images/fondo.jpg);
}

#header{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-image: url(images/signo.jpg);
    background-position: center;
    background-size: 100%;
}

#header{
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-image: url(images/signo.jpg);
    background-position: center;
    background-size: 100%;
}

#header a{
    font-size: 40px;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
    color: rgb(70, 55, 29);
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
}

h1{
    font-size: 80px;
    margin-top: 80px;
    text-align: center;
    color: white;
    animation: bounce 3s ;
}

li{
    font-size: 20px;
    animation: bounceInLeft 1s ;
}

.botones{
    color: rgb(0, 0, 0);
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}


button{
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
    color: rgb(255, 255, 255);
    background-image: url(images/fondo.jpg);
    border-color: rgb(35, 19, 19);
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}