body{
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
    margin: 0;
    padding: 0;
    background-image: url(images/fondo2.jpg);
}

.info h2{
    color: black;
    font-family: Tlwg Typist;
}

#result{
    margin-top: 50px;
    text-align: center;
    color: black;
    margin-bottom: 20px;
    font-family: Tlwg Typist;
}

.info{
    text-align: center;
}

.info img{
    width: 600px;
    height: 312px;
    display: block;
    margin: auto;
}
.info b{
    width: 600px;
    height: 312px;
    padding: 5px;;
    display: block;
    margin: auto;
    background-color: black;
 }



.info p {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
    color: black;
}

.info a {
    font-family: 'Quicksand', sans-serif;
    font-style: 'Italic';
    color: wheat;
    background-color: black;
    border-color: rgb(35, 19, 19);
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;
    margin-bottom: 25px;
    cursor: pointer;
}

.navegador ul{
    color: white;
    text-align:center;
 } 

 .navegador ul li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 } 

 .navegador li a {
    border-radius: 20px;
    margin: 40px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 2px 7px 2px 7px;
    color: rgb(4, 4, 4);
    background-color:rgb(240, 204, 131);
    border: 1px solid rgb(255, 255, 255);
    text-decoration: none;
 } 

 .navegador li a:hover{
        border-color: rgb(70, 55, 29);
        background-color:rgb(255, 255, 255);
        color:rgb(70, 55, 29);
 }

 footer {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    position:relative;
    padding-top: 16px;
    left: 0;
    bottom: 0;
    width: 100%;
    height:100px;
    background-color: #000000;
 }

 footer h4{
    font-size: 15px;
}

 footer p{
     font-size: 10px;
 }

 .info a{
    padding: 2px;
    text-decoration: none;
    border-radius: 15px;
    color:rgb(255, 255, 255);
}

.info a:hover{
    border-radius: 15px;
    background-color:rgb(239, 185, 77);
    color:rgb(0, 0, 0);
}